<app-header></app-header>

<main>
  <div class="order">
    <div class="details_order">
      <img src="https://images.asos-media.com/products/krossovki-svetlo-bezhevogo-korichnevogo-tsveta-new-balance-574/23704832-1-brown?$n_640w$&wid=513&fit=constrain" align="left" width="170" height="220" />
      <div class="product-description">
        <p class="price">7 690,00 руб.</p>
        <p class="title">Кроссовки светло-бежевого/коричневого цвета <br> New Balance 574</p>
      </div>
      <div class="change">
        <select>
          <option>EU 38</option>
          <option>EU 39</option>
          <option>EU 40</option>
          <option>EU 40.5</option>
          <option>EU 41</option>
          <option>EU 41.5</option>
          <option>EU 42</option>
          <option>EU 42.5</option>
          <option>EU 43</option>
          <option>EU 43.5</option>
          <option>EU 44</option>
          <option>EU 44.5</option>
          <option>EU 45</option>
          <option>EU 46</option>
          <option>EU 47</option>
          <option selected>Размер</option>
        </select>

        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option selected>Кол-во</option>
        </select>
      </div>
    </div>
    <div class="details_order">
      <img src="https://images.asos-media.com/products/svetlo-sirenevaya-oversized-rubashka-nike-premium-essential/200936538-2?$n_640w$&wid=513&fit=constrain" align="left" width="170" height="220" />
      <div class="product-description">
        <p class="price">2 690,00 руб.</p>
        <p class="title">Светло-сиреневая oversized-рубашка<br> Nike Premium Essential </p>
      </div>
      <div class="change">
        <select>
          <option>XS(42-44)</option>
          <option>S(44-46)</option>
          <option>M(46-48)</option>
          <option>L(48-50)</option>
          <option>XL(50-52)</option>
          <option>XXL(52-54)</option>
          <option selected>Размер</option>
        </select>

        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option selected>Кол-во</option>
        </select>
      </div>
    </div>
    <div class="sum_order">
      <p>Сумма заказа: 10 380,00 руб.</p>
      <div>
        <a href="order.html">
          <button class="place_an_order" type="submit">Оформить заказ</button>
        </a>
      </div>

    </div>
  </div>
</main>


